@font-face {
    font-family: Sonder;
    src: url(sonder.otff);
}

@font-face {
    font-family: Synonym;
    src: url(synonym.otff);
}

body {
    background-image: url("Images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    overflow-x: hidden;  
}

h1 {
    font-family: Sonder;
    font-size: 3em;
    letter-spacing: .2em;
    text-align: center;
    margin-top: 2em;
}

.underline {
   width: 10%;  
   height: 1px;  
   margin-bottom: 7px;  
   margin-right: auto;  
   margin-left: auto;  
   margin-top: 9px;  
   border-width: 2px;  
   border-color: #A1220E;  
   margin-bottom: 10em;
}  

.underline2 {
    width: 10%;  
    margin-bottom: 7px;  
    margin: 0;
    margin-top: 9px;  
    border-width: 2px;  
    border-color: #A1220E;  
    padding-bottom: 3em;
}  

.underline-classes {
    width: 10%;   
    margin-bottom: 7px;  
    margin-right: 0;
    margin-top: 9px;  
    border-width: 2px;  
    border-color: #A1220E;  
    padding-bottom: 3em;
}  

.underline3 {
    width: 10%;  
    margin-bottom: 7px;  
    margin-right: auto;  
    margin-left: auto;
    margin-top: 9px;  
    border-width: 2px;  
    border-color: #A1220E;  
    padding-bottom: 3em;
} 

.taichi {
    margin-bottom: 10em;
}

.classes{
    margin-bottom: 10em;
}

.classes {
    text-align: right;
}

.treatment {
    margin-bottom: 10em;
    background: rgba(255,255,255,0.5);
}

.treatment-title {
    padding-top: 1em;
}

.image {
    width: 500px;
    margin: auto;
}

.classes-image {
    width: 450px;
}

p {
    font-family: Synonym;
    line-height: 2;
    letter-spacing: .02em;
}

h3 {
    font-family: Sonder;
}

.book-now {
    text-align: center;
}

.underline-book {
    width: 10%;  
    height: 1px;  
    margin-bottom: 7px;  
    margin-right: auto;  
    margin-left: auto;  
    margin-top: 9px;  
    border-width: 2px;  
    border-color: #A1220E; 
    margin-bottom: 5em;
}

.form {
    padding-bottom: 3em;
    width: 800px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}


.submit {
    margin-bottom: 5em;
}

.btn {
    background-color: #A1220E ;
    border-color: #A1220E;
}

.btn:hover {
    background-color: white;
    color: #A1220E;
}

.underline-end {
    height: 1px;  
    margin-bottom: 7px;  
    margin-right: auto;  
    margin-left: auto;  
    margin-top: 9px;  
    border-width: 2px;  
    border-color: #A1220E; 
    margin-bottom: 3em;
}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.from-left {
    grid-column: 2 / 3;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
  
.from-right {
    grid-column: 3 / 4;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
}
  
.from-left,
.from-right {
    transition: opacity 600ms ease-in, -webkit-transform 600ms ease-in;
    transition: opacity 600ms ease-in, transform 600ms ease-in;
    transition: opacity 600ms ease-in, transform 600ms ease-in,
      -webkit-transform 600ms ease-in;
    opacity: 0;
}
  
.from-left.appear,
.from-right.appear {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}