@font-face {
    font-family: Sonder;
    src: url(sonder.otff);
}

@font-face {
    font-family: Satoshi;
    src: url(satoshi.otff);
}

body {
    background-image: url("Images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    overflow-x: hidden;  
}

h1 {
    font-family: Sonder;
    font-size: 3em;
    letter-spacing: .2em;
    text-align: center;
    margin-top: 2em;
}

.underline {
   width: 40%;  
   height: 1px;  
   margin-bottom: 7px;  
   margin-right: auto;  
   margin-left: auto;  
   margin-top: 2em;  
   border-width: 2px;  
   border-color: #A1220E;  
   margin-bottom: 8em;
} 

.taichi {
    margin-bottom: 10em;
}

.taichi-container {
    background-color: rgba(196,196,196,0.2);
    padding: 2em;
    padding-bottom: 0;
    margin: 2em;
    margin-bottom: 0;
}

.taichiimage-container {
    padding-left: 2em;
    padding-right: 2em;
}

.classesimage-container {
    padding-left: 2em;
    padding-right: 2em;
}


.taichi-title {
    font-family: Sonder;
    font-size: 20pt;
    text-align: center;
    width: 250px;
    border: solid;
    border-color: #131313;
    border-width: 1px;
    border-bottom-color: #A1220E;
    border-bottom-width: 4px;
    padding: .4em;
    margin-bottom: 1.5em;
}

p {
    font-family: Satoshi;
    letter-spacing: .10em;
    padding-bottom: 2em;
    margin: 0;
}

.taichi-image {
    width: 100%;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.taichi2-image {
    width: 100%;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.waha{
     flex-flow: column-reverse;
      }

.classes-container {
    background-color: rgba(196,196,196,0.2);
    padding: 2em;
    padding-bottom: 0;
    margin: 2em;
    margin-bottom: 0;
    text-align: right;
}

.classes-title {
    font-family: Sonder;
    margin-right: 0;
    margin-left: auto;
    font-size: 20pt;
    text-align: center;
    width: 250px;
    border: solid;
    border-color: #131313;
    border-width: 1px;
    border-bottom-color: #A1220E;
    border-bottom-width: 4px;
    padding: .4em;
    margin-bottom: 1.5em;
}

.book-now {
    font-family: Sonder;
    text-align: center;
}

.underline-book {
    width: 30%;  
    height: 0.5px;  
    margin-bottom: 7px;  
    margin-right: auto;  
    margin-left: auto;  
    margin-top: 9px;  
    border-width: 1.5px;  
    border-color: #A1220E; 
    margin-bottom: 5em;
}

.form {
    padding-bottom: 3em;
    padding-top: 10em;
    width: 70%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.form-control {
    height: 45px;
}

.submit {
    margin-bottom: 5em;
}

.btn {
    background-color: #A1220E ;
    border-color: #A1220E;
}

.btn:hover {
    background-color: white;
    color: #A1220E;
}

.underline-end {
    height: 1px;  
    margin-bottom: 7px;  
    width: 70%;
    margin-right: auto;  
    margin-left: auto;  
    margin-top: 9px;  
    border-width: 1.5px;  
    border-color: #A1220E; 
    margin-bottom: 3em;
}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.from-left {
    grid-column: 2 / 3;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
  
.from-right {
    grid-column: 3 / 4;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
}
  
.from-left,
.from-right {
    transition: opacity 600ms ease-in, -webkit-transform 600ms ease-in;
    transition: opacity 600ms ease-in, transform 600ms ease-in;
    transition: opacity 600ms ease-in, transform 600ms ease-in,
      -webkit-transform 600ms ease-in;
    opacity: 0;
}
  
.from-left.appear,
.from-right.appear {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}

/* Media Queries Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
}



@media (min-width: 768px) {
    .taichi-container {
        margin: 0;
        padding: 4.5em;
    }
}

@media (min-width: 992px) { 
    .taichi-container {
        margin: 0;
        padding: 4.5em;
    }

    .classes-container {
        margin: 0;
        padding: 4.5em;
    }

    .taichiimage-container {
        padding: 0;
    }

    .classesimage-container {
        padding: 0;
    }

    .form {
        width: 60%;
    }

 }


@media (min-width: 1200px) { 
    .taichi-container {
        margin: 0;
        padding: 4.5em;
    }

    .classes-container {
        margin: 0;
        padding: 4.5em;
        padding-bottom: 5.5em;
    }

    .taichiimage-container {
        padding: 0;
    }

    .classesimage-container {
        padding: 0;
    }

    .form {
        width: 35%;
    }

}
